<html>
    <body>
    <h2>Cadastro de Produto</h2>
      <form action="/produto/cadastra" method="post"><br/>
          id: <input type="text" name="id" /><br/>
          nome: <input type="text" name="nome" /><br/>
          Descrição: <input type="text" name="descricao" /><br/>
          Categoria:
          <select name="categoria">
              <option th:each="categoria : ${categorias}" th:value="${categoria}" th:text="${categoria.descricao}"></option>
          </select><br/>
          Preço: <input type="text" name="preco" /><br/>

        <input type="submit" value="Cadastra">
      </form>

    </body>
</html>