<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página de Hello</title>
</head>
<body>

    Produtos:
    <br />
    <ul>
        <li th:each="produto : ${produtos}" th:text="${produto}"></li>
    </ul>

    <table>
        <tr>
            <td>ID</td>
            <td>NOME</td>
            <td>PREÇO</td>
            <td>ESTOQUE</td>
        </tr>
        <tr th:each="produto : ${produtos}">
            <td><span th:text="${produto.id}"></span></td>
            <td>
                <span th:if="${produto.nome != null}" th:text="${produto.nome}"></span>
                <span th:if="${produto.nome == null}">-</span>
            </td>
            <td><span th:text="${produto.preco}"></span></td>
            <td>
                <span th:text="${produto.emEstoque} ? 'Disponível' : 'Indisponível'"></span>

            </td>
        </tr>
    </table>


</body>
</html>