<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/produto/css/produto.css}" rel="stylesheet" />
        <script type="text/javascript" th:src="@{/produto/js/produto.js}" ></script>
        <title>Produtos</title>
    </head>

    <body>
        <h3>Lista de Produtos</h3>

        <span th:text="${sucesso}"></span>

        <table>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Preço</td>
            </tr>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.id}"></td>
                <td th:text="${produto.nome}"></td>
                <td th:text="${produto.preco}"></td>
            </tr>
        </table>
    </body>

</html>