<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Produtos</title>
    </head>

    <body>
        Página de produtos: <span th:text="${produtos.size}"></span>
        <br />
        José
        <br /><br />
        <a th:href="@{https://google.com.br}">Página</a>
        <br /><br />
        <a th:href="@{/search(idDoProduto=2, nomeDoProduto=edu)}">Teste</a>
    </body>

    <footer th:replace="~{rodape :: rodape}"></footer>

</html>

<!-- Absoluto: envia a requisição para outro servidor, contem o protocolo -->
<!-- Relativo: Relativo ao seu contexto(seu servidor), nesse caso ao localhost:8080 -->